@model NS.lxy.Web.Areas.M.Models.ZjglCertEditModel
@{
    Layout = "~/Views/Shared/_LayoutDialog.cshtml";
}


@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.ID)
    <div class="dy-container  ">
          
                <table class="detailTable">
                    <tr> 
        <th>证件类型</th>
<td>@Html.DcjetTextBoxFor(x => x.zjglCert.CertType)
 @Html.ValidationMessageFor(x => x.zjglCert.CertType)</td>
 </tr>
<tr> 
        <th>证件编号</th>
<td>@Html.DcjetTextBoxFor(x => x.zjglCert.Code)
 @Html.ValidationMessageFor(x => x.zjglCert.Code)</td>
 </tr>
<tr> 
        <th>发证日期</th>
<td>@Html.DcjetDatePickerFor(x => x.zjglCert.LicenceDate)
 @Html.ValidationMessageFor(x => x.zjglCert.LicenceDate)</td>
 </tr>
<tr> 
        <th>生效日期</th>
<td>@Html.DcjetDatePickerFor(x => x.zjglCert.EffectiveDate)
 @Html.ValidationMessageFor(x => x.zjglCert.EffectiveDate)</td>
 </tr>
<tr> 
        <th>过期日期</th>
<td>@Html.DcjetDatePickerFor(x => x.zjglCert.ExpiryDate)
 @Html.ValidationMessageFor(x => x.zjglCert.ExpiryDate)</td>
 </tr>
<tr> 
        <th>最大使用次数</th>
<td> @Html.DcjetNumberFor(x => x.zjglCert.MaxUseCount)
 @Html.ValidationMessageFor(x => x.zjglCert.MaxUseCount)</td>
 </tr>
<tr> 
        <th>剩余使用次数</th>
<td> @Html.DcjetNumberFor(x => x.zjglCert.LeftUseCount)
 @Html.ValidationMessageFor(x => x.zjglCert.LeftUseCount)</td>
 </tr>
<tr> 
        <th>公司别编码</th>
<td>@Html.DcjetTextBoxFor(x => x.zjglCert.CorpCode)
 @Html.ValidationMessageFor(x => x.zjglCert.CorpCode)</td>
 </tr>
<tr> 
        <th>状态</th>
<td> @Html.DcjetNumberFor(x => x.zjglCert.Status)
 @Html.ValidationMessageFor(x => x.zjglCert.Status)</td>
 </tr>

                </table>
		 
    </div>
    <div class="modal-footer">
        <button class="btn btn-success btn-sm" type="button" id="btnSave">确定</button>
        <button class="btn btn-danger btn-sm" type="button" onclick="apolloPage.framework.base.closeNewDialog();">关闭</button>
    </div>
}
@section head{
    <script type="text/javascript">
        $(function() {
            $("#btnSave").click(function(e) {
                e.preventDefault();
                var from = $("form");
                if (from.valid()) {
                    var id = $("#ID").val();
                    $.ajax({
                        url: "@Url.Content("~/" + @SystemConfig.SystemAreaKey + "/M/ZjglCert/Edit")",
                        type: 'post',
                        dataType:'json',
                        data: $("form").serialize(),
                        success: function (result) {
                            if (!result.Success) {
                                apolloPage.framework.base.systemAlert(result.Message);
                            } else {
                                apolloPage.framework.base.systemAlert(id == "" || id == undefined ? "添加成功" : "更新成功");
                                apolloPage.framework.base.tabs.refresh();
                                //新增成功后显示表体页面
                                if (id == "" || id == undefined) {
                                    $("#ID").val(result.Message);
                                    window.parent.apolloPage.addTab({
                                        id:"iframe-body",
                                        title: "转出备案表体",
                                        url: '@Url.Content("~/" + @SystemConfig.SystemAreaKey + "/M/ZjglCertBody/OutBody?HeadOid=")' + result.Message
                                    });
                                }
                            }
                        }
                    });
                }
            });
        });

    </script>
}
