@model NS.lxy.Web.Areas.M.Models.ZjglCertListImgEditModel
@{
    Layout = "~/Views/Shared/_LayoutDialog.cshtml";
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.ID)
    @Html.HiddenFor(x => x.HeadOid)
    <div class="dy-container">
        <div class="row" id="search-wrapper">
            <div class="col-sm-12">
                <div class="form-block">
                    <table class="searchTable">
                       <tr> 
        <th>证件关联ID</th>
<td>@Html.DcjetTextBoxFor(x => x.zjglCertListImg.CertOid)
 @Html.ValidationMessageFor(x => x.zjglCertListImg.CertOid)</td>
 </tr>
<tr> 
        <th>料号</th>
<td>@Html.DcjetTextBoxFor(x => x.zjglCertListImg.ImgNo)
 @Html.ValidationMessageFor(x => x.zjglCertListImg.ImgNo)</td>
 </tr>
<tr> 
        <th>项次</th>
<td>@Html.DcjetTextBoxFor(x => x.zjglCertListImg.GNo)
 @Html.ValidationMessageFor(x => x.zjglCertListImg.GNo)</td>
 </tr>
<tr> 
        <th>商编</th>
<td>@Html.DcjetTextBoxFor(x => x.zjglCertListImg.HsCode)
 @Html.ValidationMessageFor(x => x.zjglCertListImg.HsCode)</td>
 </tr>
<tr> 
        <th>品名</th>
<td>@Html.DcjetTextBoxFor(x => x.zjglCertListImg.GoodDesc)
 @Html.ValidationMessageFor(x => x.zjglCertListImg.GoodDesc)</td>
 </tr>
<tr> 
        <th>料号位置</th>
<td> @Html.DcjetNumberFor(x => x.zjglCertListImg.Position)
 @Html.ValidationMessageFor(x => x.zjglCertListImg.Position)</td>
 </tr>
<tr> 
        <th>备案量</th>
<td> @Html.DcjetNumberFor(x => x.zjglCertListImg.MaxQuantity)
 @Html.ValidationMessageFor(x => x.zjglCertListImg.MaxQuantity)</td>
 </tr>
<tr> 
        <th>剩余数量</th>
<td> @Html.DcjetNumberFor(x => x.zjglCertListImg.LeftQuantity)
 @Html.ValidationMessageFor(x => x.zjglCertListImg.LeftQuantity)</td>
 </tr>
<tr> 
        <th>材料本体/最小包装是否有3C/CQC</th>
<td> @Html.DcjetNumberFor(x => x.zjglCertListImg.HasInnerCert)
 @Html.ValidationMessageFor(x => x.zjglCertListImg.HasInnerCert)</td>
 </tr>
<tr> 
        <th>IEC、GB或其他执行标准</th>
<td>@Html.DcjetTextBoxFor(x => x.zjglCertListImg.Standard)
 @Html.ValidationMessageFor(x => x.zjglCertListImg.Standard)</td>
 </tr>
<tr> 
        <th>判定日期</th>
<td>@Html.DcjetDatePickerFor(x => x.zjglCertListImg.JudgeDate)
 @Html.ValidationMessageFor(x => x.zjglCertListImg.JudgeDate)</td>
 </tr>
<tr> 
        <th>英文描述</th>
<td>@Html.DcjetTextBoxFor(x => x.zjglCertListImg.EnDesc)
 @Html.ValidationMessageFor(x => x.zjglCertListImg.EnDesc)</td>
 </tr>
<tr> 
        <th>单位</th>
<td>@Html.DcjetTextBoxFor(x => x.zjglCertListImg.Unit)
 @Html.ValidationMessageFor(x => x.zjglCertListImg.Unit)</td>
 </tr>
<tr> 
        <th>厂商</th>
<td>@Html.DcjetTextBoxFor(x => x.zjglCertListImg.Supply)
 @Html.ValidationMessageFor(x => x.zjglCertListImg.Supply)</td>
 </tr>
<tr> 
        <th>厂商料号/型号</th>
<td>@Html.DcjetTextBoxFor(x => x.zjglCertListImg.SupplyImgNo)
 @Html.ValidationMessageFor(x => x.zjglCertListImg.SupplyImgNo)</td>
 </tr>
<tr> 
        <th>厂别编码</th>
<td>@Html.DcjetTextBoxFor(x => x.zjglCertListImg.CompanyCode)
 @Html.ValidationMessageFor(x => x.zjglCertListImg.CompanyCode)</td>
 </tr>
<tr> 
        <th>负责采购</th>
<td>@Html.DcjetTextBoxFor(x => x.zjglCertListImg.Puchaser)
 @Html.ValidationMessageFor(x => x.zjglCertListImg.Puchaser)</td>
 </tr>
<tr> 
        <th>Incoterms</th>
<td>@Html.DcjetTextBoxFor(x => x.zjglCertListImg.Incoterms)
 @Html.ValidationMessageFor(x => x.zjglCertListImg.Incoterms)</td>
 </tr>
<tr> 
        <th>国别/港口</th>
<td>@Html.DcjetTextBoxFor(x => x.zjglCertListImg.Port)
 @Html.ValidationMessageFor(x => x.zjglCertListImg.Port)</td>
 </tr>
<tr> 
        <th>原產國</th>
<td>@Html.DcjetTextBoxFor(x => x.zjglCertListImg.Origin)
 @Html.ValidationMessageFor(x => x.zjglCertListImg.Origin)</td>
 </tr>
<tr> 
        <th>貿易國</th>
<td>@Html.DcjetTextBoxFor(x => x.zjglCertListImg.Exportation)
 @Html.ValidationMessageFor(x => x.zjglCertListImg.Exportation)</td>
 </tr>
<tr> 
        <th>代办证提醒OID</th>
<td>@Html.DcjetTextBoxFor(x => x.zjglCertListImg.WarnNeedOid)
 @Html.ValidationMessageFor(x => x.zjglCertListImg.WarnNeedOid)</td>
 </tr>
<tr> 
        <th>状态</th>
<td> @Html.DcjetNumberFor(x => x.zjglCertListImg.Status)
 @Html.ValidationMessageFor(x => x.zjglCertListImg.Status)</td>
 </tr>
<tr> 
        <th>是否确认(1 已确认/ 2未确认/3 规格图)</th>
<td>@Html.DcjetTextBoxFor(x => x.zjglCertListImg.Isconfirm)
 @Html.ValidationMessageFor(x => x.zjglCertListImg.Isconfirm)</td>
 </tr>
<tr> 
        <th>备注</th>
<td>@Html.DcjetTextBoxFor(x => x.zjglCertListImg.Remark)
 @Html.ValidationMessageFor(x => x.zjglCertListImg.Remark)</td>
 </tr>
<tr> 
        <th></th>
<td>@Html.DcjetTextBoxFor(x => x.zjglCertListImg.GsCode)
 @Html.ValidationMessageFor(x => x.zjglCertListImg.GsCode)</td>
 </tr>

                    </table>
                </div>
            </div>
        </div>
        <div class="row" id="toolbar-wrapper">
            <div class="col-sm-12">
                <div class="eait-area edit-modal">
                    <button id="btnAdd" type="button" class="btn btn02 color01" title="新增"><span class="fa fa-plus"></span> </button>
                    <button id="btnDeleteAll" type="button" class="btn btn02 color07"><span class="fa fa-trash-o" title="批量删除"></span></button>
                    <button id="btnSave" type="button" class="btn btn02 color02"><span class="fa fa-clipboard" title="保存"></span> </button>
                </div>
            </div>
        </div>
        <div id="grid-wrapper" class="row">
            <div class="col-sm-12">
                <div id="gridContainer">
                    <table id="gridTable" data-escape="true"  class="table table-striped table-hover" data-id-field="Oid" get-data="@Url.Content("~/" + SystemConfig.SystemAreaKey + "/M/ZjglCertListImgBody/LoadIndexData")">
                        <thead>
                            <tr>
                                <th data-checkbox="true" data-width="45px"></th>
                                <th data-formatter="operatorFormatter" data-width="90px"></th>
                             
<th data-field="CertOid" >证件关联ID</th>
<th data-field="ImgNo" >料号</th>
<th data-field="GNo" >项次</th>
<th data-field="HsCode" >商编</th>
<th data-field="GoodDesc" >品名</th>
<th data-field="Position" >料号位置</th>
<th data-field="MaxQuantity" >备案量</th>
<th data-field="LeftQuantity" >剩余数量</th>
<th data-field="HasInnerCert" >材料本体/最小包装是否有3C/CQC</th>
<th data-field="Standard" >IEC、GB或其他执行标准</th>
<th data-field="JudgeDate" data-formatter="apolloPage.framework.base.util.formatBpDate">判定日期</th>
<th data-field="EnDesc" >英文描述</th>
<th data-field="Unit" >单位</th>
<th data-field="Supply" >厂商</th>
<th data-field="SupplyImgNo" >厂商料号/型号</th>
<th data-field="CompanyCode" >厂别编码</th>
<th data-field="Puchaser" >负责采购</th>
<th data-field="Incoterms" >Incoterms</th>
<th data-field="Port" >国别/港口</th>
<th data-field="Origin" >原產國</th>
<th data-field="Exportation" >貿易國</th>
<th data-field="WarnNeedOid" >代办证提醒OID</th>
<th data-field="Status" >状态</th>
<th data-field="Isconfirm" >是否确认(1 已确认/ 2未确认/3 规格图)</th>
<th data-field="Remark" >备注</th>
<th data-field="GsCode" ></th>
                            </tr>
                        </thead>
                    </table>
                </div>
                @{
    Html.RenderPartial("~/Views/Common/Paginate.cshtml", Model.SearchEntity);
                }
            </div>
        </div>
    </div>
}
@section head{
    <script type="text/javascript">

    $(function () {
        $("#btnAdd").click(function () {
            //新增
            apolloPage.emptyFormData();
        });

        //删除
        $("#btnDeleteAll").click(function () {
            if (apolloPage.isSelect()) {
                apolloPage.framework.base.systemConfirm("确定要删除勾选的这几条数据？", function () {
                    var oids = apolloPage.listSelectedValues();
                    $.ajax({
                        url: "@Url.Content("~/" + @SystemConfig.SystemAreaKey + "/M/ZjglCertListImgBody/DeleteAll")")",
                        type: "post",
                        data: { oids: oids.join(',') },
                        dataType: "json",
                        success: function (result) {
                            if (result.Success) {
                                apolloPage.framework.base.systemAlert("删除成功");
                            } else {
                                apolloPage.framework.base.systemAlert("删除失败");
                            }
                            /// 2016-12-07
                            apolloPage.refreshTable();
                        }
                    });
                });
            }
        });


        //保存数据
        $("#btnSave").click(function () {
            var from = $("form");
            if (from.valid()) {
                var id = $("#ID").val();
                $.ajax({
                    url: "@Url.Content("~/" + @SystemConfig.SystemAreaKey + "/M/ZjglCertListImgBody/Edit")",
                    data: $("form").serialize(),
                    dataType: "json",
                    type: "post",
                    success: function (result) {
                        if (!result.Success) {
                            apolloPage.framework.base.systemAlert(result.Message);
                        } else {
                            apolloPage.framework.base.systemAlert(id == "" || id == undefined ? "添加成功" : "更新成功");
                            /// 2016-12-07
                            apolloPage.refreshTable();
                        }
                    }
                });
            }

        });
    });


   
		//修改
        function btnUpdate_click(oid) {
        /// 2016-12-07
        $.ajax({
            url: "@Url.Content("~/" + @SystemConfig.SystemAreaKey + "/M/ZjglCertListImgBody/GetEditData")",
            data: { oid: oid },
            dataType: "json",
            type: "post",
            success: function (data) {
                $("#ID").val(data.Oid);
                $("#sjgRecordlistOutPreEntity_GName").val(data.sjgRecordlistOutPreEntity.GName);
                $("#sjgRecordlistOutPreEntity_TradeCode").val(data.sjgRecordlistOutPreEntity.TradeCode);
                $("#sjgRecordlistOutPreEntity_CodeTS").val(data.sjgRecordlistOutPreEntity.CodeTS);
            }
        });
    }

    //单笔删除
        function btnDelete_click(oid) {
        apolloPage.framework.base.systemConfirm("确认要删除该条记录吗？", function () {
            $.ajax({
                url: "@Url.Content("~/" + @SystemConfig.SystemAreaKey + "/M/ZjglCertListImgBody/Delete")",
                type: "post",
                data: { oid: oid },
                dataType: "json",
                success: function (result) {
                    if (result.Success) {
                        apolloPage.framework.base.systemAlert("删除成功");
                    } else {
                        apolloPage.framework.base.systemAlert("删除失败");
                    }
                    /// 2016-12-07
                    apolloPage.refreshTable();
                }
            });
        });
    }

    function operatorFormatter(value, row, index) {
        return '<button type="button" class="btn btn02 color03" onclick="btnUpdate_click(\'' + row.Oid + '\')" title="修改" id="btnUpdate"><span class="fa fa-pencil-square-o"></span></button>' +
            '<button type="button" class="btn btn02 color07" onclick="btnDelete_click(\'' + row.Oid + '\')" title="删除" id="btnDelete"><span class="fa fa-trash-o"></span></button>';
    }
    </script>
}





